table{
    margin: auto;
    text-align: center;
    font-family: Inter;
    border-collapse: collapse;
    border-radius: 10px;
}


table td{
    border: 1px solid #d9d9d9; 
    padding: 10px 20px;
}

table th{
     border: 1px solid #d9d9d9; 
     padding: 10px 20px;
    
}

table thead{ 
    background-color: #d9d9d9;   
 } 

.espacio{
    margin-top: 30px;
 }
